h3{
    color: #34a853 !important;
    padding-top: 50px;
}

Container{
    margin:10px;
}

.about{
    height:400px;
    width:550px;
    padding-left: 80px;
}

.umit{
    /* height:350px;
    width:520px; */
    height: 25rem;
    padding-left: 20px;
}
.lead{
    font-size: x-large;
    font-weight: bolder;
}