h2{
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
    padding: 1.5em;
}
h2:before,
h2:after {
    content: '';
    border-top: 2px solid #7e7e7e;
}

.contact-h{
    color: #4285F4;
    
}

.contact-map{
    padding-top: 8px;
    padding-bottom: 15px;
}

.contact-icon{
    color: #4285F4;
}

.contact-text{
    font-size: medium;
}

.contact-form{
    padding: 8px;
}

.contact-form-box{
    border-width: 1px;
    border-color: #4285F4;
}

.contact-button{
    margin: 8px;
    background-color: #4285F4;
}

.class-socials{
    margin-top: 80px;
    margin-bottom: 30px;
}

.a-socials{
    margin: 5px;
    color: grey;
}

.button-socials{
    background-color: grey;
    border: none;
}

.button-socials:hover{
    background-color: #ffffff;
    border-width: 1px;
    border-color: #4285F4;
    color: black;
}

.end{
    color: grey;
    padding-bottom: 100px;
}

@media screen and (max-width: 767px){
    .a-socials{
        margin: 2px;
    }

    .contact-icon{
        margin-left: 20px;
    }
}