.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
  
.img-fluid {
  max-width: 100%;
  height: auto;
}
  
.section{
  text-align: center;
  position: relative;
}
  
.section-subtitle{
  text-align: center;
  padding: -100px 0;
  position: relative;
}

.card-secondary:hover{
  box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
}

.events-card {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

