.section-title {
  color: #EA4335;
}

.carousel .control-arrow{ opacity: 8 !important; }
  
.img-fluid {
  max-width: 25em;
  height: auto;
  padding: 2em;
}

.stay-tuned{
  margin: auto;
  max-height: 300px;
  width: auto;
  margin-bottom: 50px;
}

.alink{
  text-decoration: none;
  background-color: #ffd8d4 ;
  color: #EA4335;
}

.alink:hover{
  color: #EA4335;
  text-decoration: underline #EA4335;  
}

.section{
  font-size: medium;
  color:#7e7e7e;
  text-align: center;
  position: relative;
}

.section-subtitle{
  text-align: center;
  padding: -100px 0;
  position: relative;
  font-size: 1.3em;
}

.card-secondary:hover{
  box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
}

/* .events-card {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 3rem;
} */

@media screen and (max-width: 767px){
  .section{
    margin: 0;
  }

  .Col{
    margin-left: -150px;
   align-items: flex-start;
  }
}
