.home{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height:100vh;
  width:100vw;
  min-height: 100vh;
}

.homeup{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height:80vh;
  width:100vw;
}

.homeleft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:50vw;
}

.homeright{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height:100vh;
  width:50vw;
}

.homedown{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height:20vh;
}

h1{
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: black;
  background: linear-gradient(to right,  #4285F4, #EA4335,#FBBC04,#34A853, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 400%;
  background-position: 100%;
  transition: background-position 275ms ease;
  font-family: Countryside;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
}

h1:hover{
    background-position: 0 100%;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.homeleft img{
 margin:10% ;
}

.homeright img{
  height: 50%;
  width:70%;
}

@media screen and (max-width: 415px){
  .homeup {
    flex-direction: column;
    height: 20vh;
  }

  .homeup h5{
    font-size: 70%;
  }

  .homedown{
    width: 100vw;
  }
  .homeup h1{
    font-size: 150%;
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100vw;
  }

  .homeleft img{
    height: 20%;

  }
  .homeright img{
    width: 60vw;
  }
}

h5{
    color: #7e7e7e;
}