:root{
    --bg-color: #ffffff;
    --txt-color: #000000;
  }
  [data-theme = "dark"] {
    --bg-color: #000000;
    --txt-color: #ffffff;
  }
  .App{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--txt-color);
    overflow-x: hidden;
  }

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    /* right: 40px; */
    left: 35px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

.whatsapp-icon:hover {
    color: white !important;
    cursor: pointer;
}

.whatsapp_float:hover {
    color: white !important;
    cursor: pointer;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 20px;
        /* right: 10px; */
        left: 9px;
        font-size: 22px;
        z-index: 100;
    }
}
.link-1{
    margin-left: 450px;
}

.link {
    color: var(--txt-color) !important;
    margin-right: 20px;
}

.link:hover {
    color: #EA4335 !important;
}

.main {
    background-color: var(--bg-color); 
    padding-top: 1rem;
    box-shadow: 0 0px 12px 0px rgb(155, 149, 149);
}
